<ngx-charts-pie-chart
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  [gradient]="gradient"
  [labels]="showLabels"
  [doughnut]="isDoughnut"
>
</ngx-charts-pie-chart>

<div *ngFor="let single of filteredSingle" style="margin-bottom: 10px">
  <button
    style="margin-right: 20px;"
    type="button"
    (click)="subtractionValues(single.name)"
    [disabled]="single.value === 0"
  >
    -
  </button>
  <span style="margin-right: 10px;">{{ single.name }}</span>
  <button
    type="button"
    (click)="addValues(single.name)"
    [disabled]="disableAdd"
  >
    +
  </button>
</div>
