<ngx-charts-pie-chart
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  [gradient]="gradient"
  [labels]="showLabels"
  [doughnut]="isDoughnut"
>
</ngx-charts-pie-chart>

<div *ngFor="let single of filteredSingle" style="margin-bottom: 10px">
  <button
    style="margin-right: 20px;"
    type="button"
    (click)="removeValues(single.name)"
    [disabled]="single.value <= 0"
  >
    -
  </button>
  <span style="margin-right: 10px;"
    >{{ single.name }} - {{ single.value }}%</span
  >
  <button
    type="button"
    (click)="addValues(single.name)"
    [disabled]="disableAllAdd || single.value >= 100"
  >
    +
  </button>
</div>
